nav{
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0) !important;
  box-shadow: 0 0 0 0 !important;
  padding: 0 2%;
  a{
    color: white !important;
  }
  img{
    padding: 15px 0;
    height: 64px;
  }
}
